@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@1,500&display=swap');/*spectral*/
@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');/*domine*/
@import url('https://fonts.googleapis.com/css2?family=Gudea:wght@700&display=swap');/*gudea*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');/*roboto*/
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300&display=swap');/* spartan */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    color: black;
}
.hdg{
    color: white;
    display: block;
    font-family: 'Spectral', serif;
    font-size: 3.5rem;
    margin: 0 auto 0 auto;
    padding: 0;
    position: relative;
    text-align:center;
    top: 13rem;
    width: 38rem;  
}
.hdr{
    color: #fff;
    display: block;
    font-family: 'Gudea', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0 auto 0 auto;
    position: relative;
    text-align: center;
    text-decoration: solid;
    top: 12.25rem;
    width: 30rem;
}
.intro:not(.hdr .head){
    background-blend-mode: darken;
    background-image:url("images/background_mountain.jpg");
    background-color: rgba(85, 85, 85, 0.63);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 50rem;
    width: 100%;
}
.logo{
    cursor: pointer;
    position: relative;
    width: 5rem;
}
.nav{
    align-items: center;
    bottom: 15rem;
    color: white;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    justify-content: space-between;
    position: relative;
    width: 100%;
}
.nav > ul{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 1 rem 0;
}
.nav > ul > li{
    margin: 0 1rem;    
}

.nav > ul > li > a{
    color: white;
    position: relative;
}
.nav > ul > li > a::after{/*underline*/
    background-color: white;
    bottom: 0;
    content: "";
    height: 0.07rem;
    left: 0;
    position: absolute;
    transition: 0.3s;
    width: 0;
}
.nav > ul > li > a:hover::after{
    width: 100%;
}
.nav > ul > li > a > .compass{
    height: 1.2rem;
    position: relative;
    top: 0.35rem;
    width: 1.2rem;
}
.nav > ul > .enquire{
    align-items: center;
    background-color: #283a2c;
    border-radius: 3.125rem;
    cursor: pointer;
    height: 3rem;
    padding-top: 0.5rem;
    position: relative;
    text-align: center;
    width: 9rem;
}
.nav > ul > .enquire:hover{
    background-color: rgb(236, 93, 10);
}
.nav > ul > li > #nqr-hr::after{
    background-color: transparent;
}
.nav > ul > li > #usd-hr::after{
    background-color: transparent;
}
.nav > ul > li > a > i{
    bottom: 0.1rem;
    font-size: 0.5rem;
    position: relative;
}
.nav > ul > .usd{
   position: relative; 
}
/* 1st comp mobile */

@media only screen and (max-width: 992px) {
    .nav{
        background-color: red;
    }
}

/*2nd component*/

.heading{
    font-family: 'Gudea', sans-serif;
    font-size: 1.25rem;
}
.features{
    background-color: rgba(4, 43, 16, 0.938);
    color: white;
    height: 90rem;
    text-align: center;
    padding-top: 6.25rem;
    width: 100%;
}
.features h6{
    font-family: 'Gudea', sans-serif;
    font-size: 1.25rem;
}
.features h2{
    font-family: 'Domine', serif;
    font-size: 4rem;
    font-weight: lighter;
    padding-top: 2rem;
}
.features .cntrl-img{
    font-family: 'Spartan', sans-serif;
    height: 64rem;
    position: absolute;
    margin: 1rem 15rem;
    width: 40rem;
}
.features .cntrl-img .describe{
    font-size: 0.8rem;
    position: relative;
    text-align: center;
    top: 20rem;
    width: 13rem;
}
.features .cntrl-img .fair{
    left: 20rem;
    top: 22rem;
}
.features .cntrl-img img{
    bottom: 42rem;
    height: 30rem;
    left: 10rem;
    position: relative;
    transform: rotate(-2deg);
    width: 20rem;
}
.features .cntrl-img .impact{
    left: 5rem;
    top: 24rem;
}
.features .cntrl-img span i{
    font-size: 2.8rem;
}
.features .cntrl-img .taj{
    bottom: 20rem;
    height: 20rem;
    left: 30rem;
    position: absolute;
    transform: rotate(2deg);
    width: 15rem;
}
.features .why-nohkai{
    font-family: 'Spartan', sans-serif;
    font-size: 1.5rem;
    margin: 5rem 65rem;
    text-align: left;
    width: 20rem;
}
.features .why-nohkai span{
    font-size: 1rem;
}
