@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@1,500&display=swap');/*spectral*/
@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');/*domine*/
@import url('https://fonts.googleapis.com/css2?family=Gudea:wght@700&display=swap');/*gudea*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');/*roboto*/
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap');/* spartan */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    color: black;
}
.hdg{
    color: white;
    display: block;
    font-family: 'Spectral', serif;
    font-size: 3.5rem;
    margin: 0 auto 0 auto;
    padding: 0;
    position: relative;
    text-align:center;
    top: 13rem;
    width: 38rem;  
}
.hdr{
    color: #fff;
    display: block;
    font-family: 'Gudea', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0 auto 0 auto;
    position: relative;
    text-align: center;
    text-decoration: solid;
    top: 12.25rem;
    width: 30rem;
}
.intro:not(.hdr .head){
    background-blend-mode: darken;
    background-image:url("images/background_mountain.jpg");
    background-color: rgba(85, 85, 85, 0.63);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 50rem;
    width: 100%;
}
.logo{
    cursor: pointer;
    position: relative;
    width: 5rem;
}
.nav{
    align-items: center;
    top: 2rem;
    color: white;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    justify-content: space-between;
    position: relative;
    width: 100%;
}
.nav > ul{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 1 rem 0;
}
.nav > ul > li{
    margin: 0 1rem;    
}

.nav > ul > li > a{
    color: white;
    position: relative;
}
.nav > ul > li > a::after{/*underline*/
    background-color: white;
    bottom: 0;
    content: "";
    height: 0.07rem;
    left: 0;
    position: absolute;
    transition: 0.3s;
    width: 0;
}
.nav > ul > li > a:hover::after{
    width: 100%;
}
.nav > ul > li > a > .compass{
    height: 1.2rem;
    position: relative;
    top: 0.35rem;
    width: 1.2rem;
}
.nav > ul > .enquire{
    align-items: center;
    background-color: #283a2c;
    border-radius: 3.125rem;
    cursor: pointer;
    height: 3rem;
    padding-top: 0.5rem;
    position: relative;
    text-align: center;
    width: 9rem;
}
.nav > ul > .enquire:hover{
    background-color: rgb(236, 93, 10);
}
.nav ul .enquire i{
 display: none;       
}
.nav > ul > li > #nqr-hr::after{
    background-color: transparent;
}
.nav > ul > li > #usd-hr::after{
    background-color: transparent;
}
.nav > ul > li > a > i{
    bottom: 0.1rem;
    font-size: 0.5rem;
    position: relative;
}
.nav > ul > .usd{
   position: relative; 
}
/* 1st comp mobile */

@media only screen and (max-width: 1024px) {
    .nav{
        justify-content: space-around;
    }
    .nav .logo{
        right: 13rem;
        width: 7.5rem;
    }
    .nav .opt, .nav ul .usd, .nav ul .enquire img{
        display: none;
    }
    .nav ul .enquire{
        background-color: transparent;
        font-size: 1.2rem;
        left: 13rem;;
    }
    .nav ul .enquire:hover{
        background-color: transparent;
    }
    .nav ul .enquire i{
        display: inline-block;
        margin-left: 2rem;
    }
}
@media only screen and (max-width: 922px) {
    .nav .logo{
        right: 10rem;
    }
    .nav ul .enquire{
        left: 11rem;;
    }
}
@media only screen and (max-width: 750px) {
    .hdg{
        width: 25rem;
        font-size: 3rem;
    }
    .nav .logo{
        right: 8rem;
    }
    .nav ul .enquire{
        left: 9rem;;
    }
}
@media only screen and (max-width: 680px) {
    .nav .logo{
        right: 5rem;
    }
    .nav ul .enquire{
        left: 6rem;;
    }
}
@media only screen and (max-width: 550px) {
    .nav .logo{
        right: 2rem;
    }
    .nav ul .enquire{
        left: 3rem;;
    }
}

/*2nd component*/

.heading{
    font-family: 'Domine', serif;
    font-size: 1.25rem;
}
.features{
    background-color: rgb(40, 58, 44);
    color: white;
    height: 90rem;
    text-align: center;
    padding-top: 6.25rem;
    width: 100%;
}
.features h6{
    font-family: 'Gudea', sans-serif;
    font-size: 1.25rem;
}
.features h2{
    font-family: 'Domine', serif;
    font-size: 4rem;
    font-weight: lighter;
    padding-top: 2rem;
}
.features .cntrl-desc{
    display: none;
}
.features .cntrl-img{
    font-family: 'Spartan', sans-serif;
    height: 64rem;
    position: absolute;
    margin: 1% 15%;
    width: 40%;
}
.features .cntrl-img .describe{
    font-size: 0.8rem;
    position: relative;
    text-align: center;
    top: 32%;
    width: 13rem;
}
.features .cntrl-img .fair{
    left: 55%;
    top: 35%;
}
.features .cntrl-img img{
    height: 100%;
    width: 100%;
}
.features .cntrl-img .imgdiv{
    position: absolute;
    top: 0;
    width: auto;
}
.features .cntrl-img .imgdiv  .img2{
    bottom: 65%;
    left: 50%;
    max-height: 50%;
    position: relative;
    transform: rotate(-2deg);
    width: 50%;
}
.features .cntrl-img .impact{
    left: 10%;
    top: 40%;
}
.features .cntrl-img span i{
    font-size: 2.8rem;
}
.features .cntrl-img .imgdiv .taj{
    bottom: 15%;
    left: 75%;
    max-height: 28%;
    position: absolute;
    transform: rotate(2deg);
    width: 35%;
}
.features .why-nohkai{
    font-family: 'Spartan', sans-serif;
    font-size: 1.5rem;
    margin: 5% 68%;
    text-align: left;
    width: 20%;
}
.features .why-nohkai span{
    font-size: 1rem;
}
/* small screen */
@media only screen and (max-width: 1024px) {
    .features{
        display: flex;
        flex-direction: column;
        height: 120rem;
    }
    .features .cntrl-img{
        background-color: red;
        position: relative;
        height: fit-content;
        max-width: 40%;
    }
    .features .cntrl-desc{
        display: inline-block;
        margin-bottom: 7rem;
        margin-top: 5rem;
        width: 100%;
    }
    .features .cntrl-desc .feature-icon{
        float: left;
        width: 30%;
    }
    .features .cntrl-desc .feature-icon i{
        font-size: 2.5rem;
    }
    .features .cntrl-desc .describe2{
        font-family: 'Spartan', sans-serif;
        font-size: 0.9rem;
        margin-left: 27%;
        text-align: left;
        width: 70%;
    }
    .features .cntrl-desc .describe2 .heading2{
        font-family: 'Domine', serif;
        font-size: 1.3rem;
        margin-left: -4%;
    }
    .features .cntrl-img .describe{
        display: none;
    }
    .features .cntrl-img .imgdiv{
        background-color: blue;
        height: auto;
    }
    .features .cntrl-img .imgdiv  .img2{
        bottom: 0;
        height: 200%;
        position: unset;
        top: 18%;
        width: 130%;
    }
    .features .cntrl-img .imgdiv .taj{
        bottom: 0;
        left: 70%;
        min-height: 60%;
        position: absolute;
        top: 60%;
        width: 75%;
    }
    .features .why-nohkai{
        margin: auto;
        position: relative;
        top: 20rem;
        width: 95%;
    }
}
